body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    color: #493f89;
}

h2, h3 {
    color: #798a9c;
}

strong {
    font-weight: bold;
}

em {
    display: block;
    font-style: italic;
}