body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.pl {
    margin-bottom: 30px;
}

.pl p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.h {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.c {
    font-size: 1.5em;
    padding: 12px 18px;
    background-color: #e3e0e0;
}

.red {
    color: red;
}

.bl {
    color: black;
}